Assets/ThirdPartySDKs/Best HTTP/
Assets/ThirdPartySDKs/Best HTTP.meta
Assets/ThirdPartySDKs/ThirdPartySDKPackages/
Assets/ThirdPartySDKs/ThirdPartySDKPackages.meta
ProjectSettings/
ServerData/
.vsconfig
UserSettings/
.vs/
/Library
Logs/
Temp/
obj/
*.csproj
*.sln
